html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #5c5c5c;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.spotify-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

iframe {
    width: 100%;
    border-radius: 12px;
    border: 0;
}

.image-center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.image-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.foto {
    width: 250px;
    height: auto;
    border-radius: 15px;
}

section {
    /* background-color: white; */
    padding: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    border-radius: 15px;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: unset;
    color: rgb(255, 255, 255);
    text-align: center;
    height: 15px;
}

#contador {
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    color: white;
    /* border-radius: 10px; */
    display: inline-block;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}